*{
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
}
h1{
  text-align: center;
}

.search{
  width: 300px;
  text-align:center;
  margin: 0 auto;
}

#search-box{
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid black;
  width: 320px;
  font-size: 30px;
}

.search-btn{
  display: block;
  margin: 10px auto;
}
#search-box:focus{
  border: 2px solid black;
}
body{
  min-width: 420px;
}

.logo-info{
    color: grey;
    position: fixed;
    bottom: 0px;
    background-color: black;
}

.bookmark-container{
  margin: 100px auto 0 auto;
  border-top: 1px solid rgb(211,211,211);
  padding:30px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
}

.bookmark{
  border: 1px solid black;
  height: 300px;
  width: 250px;
  box-shadow: 2px 2px grey;
  border-radius: 5px;
  margin: 20px;
}


.logo-container{
  text-align: center;
}

.logo{
  border-bottom: 1px solid black;
  padding: 10px 0px;
  max-width: 130px
}

.add-item{
  padding: 15px 20px 15px 20px;
  margin-top: 15px;
  font-size: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 2px 2px grey;
  cursor: pointer;
  top: 120px;
}

.add-item:hover{
  color:blue;
}
.add-item:active{
  box-shadow: none;
}

.star-selected{
  color: orange;
}

.show-error{
  position: fixed;
  margin: auto;
  top:0px;
  left: 20px;
  color: red;
  margin-top: 10px;
  max-width: 400px;
}

.filter-rating{
  text-align: center;
  margin-top: 15px;
}
